@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,400&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HERO SECTION */

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero, .footer {
  background-color: #1F2937;
}

.hero {
  min-height: 80vh;
  padding: 16px 15%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 16px;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-content-subtext, a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero-content-subtext {
  margin-bottom: 16px;
  max-width: 90%;
}

h1, p {
  margin: 0;
  padding: 0;
}

.hero-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.hero-content-left {
  display: flex;
  flex-direction: column;
}

.hero-sign-up-button {
  border: none;
  color: #F9FAF8;
  font-weight: 700;
  font-size: 18px;
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  padding: 8px 32px;
  align-self: flex-start;
}

.hero-content-right {
  width: 524px;
  height: 225px;
  background-color: #6c737b;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
