@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,400&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HERO SECTION */

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero, .footer {
  background-color: #1F2937;
}

.hero {
  min-height: 80vh;
  padding: 16px 15%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 16px;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-content-subtext, a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero-content-subtext {
  margin-bottom: 16px;
  max-width: 90%;
}

h1, p {
  margin: 0;
  padding: 0;
}

.hero-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.hero-content-left {
  display: flex;
  flex-direction: column;
}

.hero-sign-up-button {
  border: none;
  color: #F9FAF8;
  font-weight: 700;
  font-size: 18px;
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  padding: 8px 32px;
  align-self: flex-start;
}

.hero-content-right {
  width: 524px;
  height: 225px;
  background-color: #6c737b;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* INFORMATION SECTION */

.images-and-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 48px;
}

.information-header-text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.images {
  margin-top: 16px; 
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.image-container {
  width: 144px;
  height: 256px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  width: 144px;
  height: 144px;
  border-radius: 12px;
  border: solid 4px #3882F6;
}

.image-subtext {
  text-align: center;
}

/* TESTIMONIAL SECTION */

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px;
  background-color: #E5E7EB;
}

.quote-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  display: flex;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  color: #1F2937;
}

.quote-author {
  font-weight: 700;
  font-size: 24px;
  text-align: right;
}

/* CALL TO ACTION SECTION */

.call-to-action {
  padding: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-container {
  flex: 1;
  padding: 48px;
  background-color: #3882F6;
  max-width: 960px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.messages {
  display: flex;
  flex-direction: column;
  color: #F9FAF8;
}

.primary-message {
  font-weight: 900;
  font-size: 24px;
  font-weight: 700;
}

.secondary-message {
  font-size: 16px;
}

.call-to-action-button {
  background: none;
  border: solid 2px #F9FAF8;
  border-radius: 10px;
  color: #F9FAF8;
  padding: 6px 32px;
  font-size: 18px;
  font-weight: 900;
}